/*Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

.box p, .box h2, .box h3, .box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul, .box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}

.box form{
    width: 40%;
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type='text'],
.box form textarea
.box form select{
    width: 100%;
    margin-bottom: 10px;
}

.box form select{
    width: 100px;
    padding: 5px;
}

.box form input[type='submit'],
.box form input[type='button'],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background-color: #2ba977;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;
}

.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;
}

.message{
    padding: 20;
    color: green;
}

.box form input[type='submit']:hover,
.box form input[type='button']:hover,
.box form button:hover{
    cursor:pointer;
    background: #1f7e58;
    margin-bottom: 10px;
    text-align: center;
}

.clearfix{
    clear: both;
    clear: none;
}

body{
    background-color: #F2F2F2;
}


/*Estilos cabecera*/

header{
    width: 1212px;
    height: 140px;
    background-color: #e2f0d9;
    margin: 0 auto;
}

#logotipo{
    width: 60%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}

#logotipo img{
    display: block;
    float: left;
    width: 150px;
    margin: 5px;
}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    color: #c77486;
}

/*Estilos barra navegacion*/

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #5b9bd5;
    border: solid #333333;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}

nav  ul{
    list-style: none;
    text-decoration: none;
}

nav > ul > li{
    line-height: 40px;
    float: left;
}

nav  ul  li  a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-weight: bold;
}

nav  ul  li  a:hover{
    background:  #2ba977;
    box-shadow: 0px 0px 5px #444 inset;
    color: white;
    transition: all 300ms;
}

nav > ul > li > ul > li{
    display: none;
    background-color:#5b9bd5;
}


nav > ul > li:hover > ul > li{
    display: block;
}

nav > ul > li:active > ul > li{
    display: block;
}

/*Estilos contenido central*/

#content{
    width: 1212px;
    min-height: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background: #e2f0d9;
    width: 95%;
    min-height: 700px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;
}

.precio{
    background: #5B9BD5;
    color: white;
    text-align: center;
    width: 130px;
    margin-left: 45%;
    padding: 5px;
}

.box > h1{
    color: #c77486;
    text-align: center;
    margin: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.imagen{
    width: 200px;
    padding: 13px;
}

.bienvenida{
    text-align: center;
    padding-top: 30px;
    color:#c77486;
}

.logo-bienvenida{
    padding: 30px;
    padding-left: 15%;
    padding-top: 5%;
}



.whatsApp{
    width: 64px;
}

.instagram{
    width: 60px;
}

.facebook{
    width: 58px;
}

.label-whatsApp{
    color: #46b25d;
    padding-left: 10px;
    padding-right: 20px;
}

.label-instagram{
    color: #c14e72;
    padding-left: 10px;
    padding-right: 20px;
}

.label-facebook{
    color: #3a5898;
    padding-left: 10px;
}

footer{
    background:#f0f1b7;
    width: 1185px;
    margin: auto;
    text-align: center;
    padding: 10px;
}